---
---
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
.logo {
    transition: transform .6s;
}
.logo:hover {
    transform: scale(1.4);
}
.img-container {
    overflow: hidden;
}
.card {
    width: auto;
    display: inline-block;
    overflow: hidden;
}
.card-img-top {
    height: auto;
    width: auto;
}
.project-title {
    text-align:center;
    font-size: 28px;
}
.project-sub {
    text-align: center;
    color: rgb(80, 80, 80);
    font-size: 20px;
}
.width-control {
    max-width: 400px;
}