---
title: Projects
layout: default
css: projects.css
aos: true
---
<div class="container">
    <h2 class="headertext" style="text-align:center">Projects</h2>
    {% assign count = site.data.projects | size %}
    {% assign count = count | divided_by: 3%}
    {% for i in (0..count)%}
    <div class="row">
        {% for k in (0..2)%}
        {% assign adjustment = 3 | times: i%}
        {% assign n = adjustment | plus: k %}
        {% if site.data.projects[n] %}
        <div class="col-sm-4">
            <div class="card width-control">
                <img class="card-img-top img-fluid" src="images/{{site.data.projects[n].logo}}">
                <div class="card-body">
                    <h2 class="project-title maintext">{{site.data.projects[n].name}}</h2>
                    <h3 class="project-sub maintext">{{site.data.projects[n].date}}</h3>
                    <hr />
                    <div class="description bodytext">
                        <p>{{site.data.projects[n].description}}</p>
                    </div>
                    <div class="readmore">
                        <a href="{{site.data.projects[n].link}}">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
</div>